<?php

return PhpCsFixer\Config::create()->setRules(
    [
        '@PSR2' => true,
        '@Symfony' => true,
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_class_elements' => true,
        'phpdoc_no_empty_return' => false,
        'linebreak_after_opening_tag' => true,
        'modernize_types_casting' => true, // risky
        'is_null' => true, // risky
        'no_alias_functions' => true, // risky
        'no_multiline_whitespace_before_semicolons' => true,
        'no_short_echo_tag' => true,
        //'no_superfluous_elseif' => true,
        //'no_unneeded_curly_braces' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'php_unit_strict' => true, // risky
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_order' => true,
        'psr4' => true, // risky
        //'single_line_comment_style' => true,
        'strict_comparison' => true, // risky
        'strict_param' => true, // risky
    ]
)->setFinder(PhpCsFixer\Finder::create()->in(__DIR__));
